
.hero-section {
    background-image: url(/Photos/stock-vector-yellow-watercolor-background-for-textures-backgrounds-and-web-banners-design-1929622187-transformed.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    color:#C67025;
}

.btn {
    background-color: #F49910;
}

.btn:hover {
    background-color: #F49910;
}
